<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="directives" routerLinkActive="active text-danger bg-warning" [routerLinkActiveOptions]="{exact:true}">directives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'product'" routerLinkActive="active text-danger bg-warning" [routerLinkActiveOptions]="{exact:true}">Input Decorator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>